<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.geeteshk.hyper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Hyper"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.WebActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.ProjectActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.MainActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.ResourcesActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.ProjectActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ProjectActivity" />
        </activity>
        <activity android:name=".activity.EncryptActivity" />
        <activity
            android:name=".polymer.CatalogActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.ProjectActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ProjectActivity" />
        </activity>
        <activity
            android:name=".polymer.ElementsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".polymer.CatalogActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.geeteshk.hyper.polymer.CatalogActivity" />
        </activity>
        <activity
            android:name=".polymer.SetupActivity"
            android:label="@string/app_name"
            android:parentActivityName=".polymer.CatalogActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.geeteshk.hyper.polymer.CatalogActivity" />
        </activity>
        <activity
            android:name=".activity.SignupActivity"
            android:label="@string/app_name"
            android:theme="@style/Hyper.Dark"
            android:parentActivityName=".activity.SplashActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.geeteshk.hyper.activity.SplashActivity" />
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Hyper.Dark"
            android:parentActivityName=".activity.SignupActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.geeteshk.hyper.activity.SignupActivity" />
        </activity>
        <activity
            android:name=".activity.ResetPasswordActivity"
            android:label="@string/app_name"
            android:theme="@style/Hyper.Dark"
            android:parentActivityName=".activity.LoginActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.geeteshk.hyper.activity.LoginActivity" />
        </activity>
        <activity
            android:name=".activity.AccountActivity"
            android:label="@string/app_name"
            android:theme="@style/Hyper.Dark"
            android:parentActivityName=".activity.MainActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.geeteshk.hyper.activity.MainActivity" />
        </activity>
    </application>

</manifest>